h1 {
    background-color:#6A6;
    padding:10px;
    border:2px solid red;
}

ol {
    background-color: #DE1E7E;
    margin:15px;
}

p {
    background-color: #FB1;
    width: 500px;
    height: 300px;
    border:2px dotted black;
}

a[href] {
    background-color: #a1a1a1;
    border: dashed blue;
}
